
<div className="home-page">
    <header class="header">
        <h1 id="pms">Welcome to Task Management Application</h1>
        <p class="slogan">Manage your Task Efficiently</p>
    </header>
    <section class="features">
        <div class="feature" style="display: flex;flex-direction: column;align-items: center; justify-content: center;">
            <img src="https://media.istockphoto.com/id/1405961052/photo/business-analysis-big-data-screen-and-economic-growth-with-financial-graph-concept-of-virtual.jpg?s=612x612&w=0&k=20&c=afzYAfoXsZVA18-SVlRLfsSIsNPwgCjDmOLG862-zwE=" alt="Feature 1" />
            <h2>Easy Product Management</h2>
          
        </div>
        <div class="feature" style="display: flex;flex-direction: column;align-items: center; justify-content: center;">
            <img src="https://www.shutterstock.com/shutterstock/photos/2285412737/display_1500/stock-photo-an-analyst-uses-a-computer-and-dashboard-for-data-business-analysis-and-data-management-system-with-2285412737.jpg" alt="Feature 2" />
            <h2>Enhanced Analytics</h2>
           
        </div>
        <div class="feature" style="display: flex;flex-direction: column;align-items: center; justify-content: center;">
            <img src="https://img.lovepik.com/element/45012/8521.png_860.png" alt="Feature 3" />
            <h2>User-Friendly Interface</h2>
       
        </div>
    </section>
    <section class="cta">
        <h2>Get Started Today</h2>
        <p>Join us in revolutionizing the way you manage your products.</p>
        <button class="btn-primary" (click)=registration()>Sign Up</button>
    </section>
</div>

